/******* Mix-ins *****/
/***** Global Settings *****/
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font: 100%/1.25 Arial, Helvetica, sans-serif;
  color: #d4d4d4;
  background: #faf8f8;
}
/***** Headings *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  padding: 30px 0 25px 0;
  letter-spacing: -1px;
  font-size: 2em;
}
h2 {
  padding: 20px 0;
  letter-spacing: -1px;
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
/***** Common Formatting *****/
p,
ul,
ol {
  margin: 0;
  padding: 0 0 1.25em 0;
  color: #d4d4d4;
  list-style: none;
}
ol.list-installations,
ol.list-groups {
  color: #4a4a4a;
  font-size: 14px;
}
/***** Checkbox Style *****/
input[type="checkbox"] + label {
  padding-left: 2px;
  vertical-align: bottom;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  position: relative;
  opacity: 0;
  display: none;
  vertical-align: middle;
}
input[type="checkbox"] + label:before {
  content: "";
  background: url(../images/checkboxes.png) no-repeat left -2px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
input[type="checkbox"] + label:before {
  background-position: left -3px;
}
input[type="checkbox"]:checked + label:before {
  background-position: left -22px;
}
blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}
small {
  font-size: 0.85em;
}
img {
  border: 0;
}
sup {
  position: relative;
  bottom: 0.3em;
  vertical-align: baseline;
}
sub {
  position: relative;
  bottom: -0.2em;
  vertical-align: baseline;
}
acronym,
abbr {
  cursor: help;
  letter-spacing: 1px;
  border-bottom: 1px dashed;
}
/***** Links *****/
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}
/***** Forms *****/
form {
  margin: 0;
  padding: 0;
  display: inline;
}
input,
select,
textarea {
  font: 1em Arial, Helvetica, sans-serif;
}
textarea {
  width: 100%;
  line-height: 1.25;
}
label {
  cursor: pointer;
}
fieldset {
  border: none;
}
/***** Tables *****/
table {
  border: 0;
  margin: 0 0 1.25em 0;
  padding: 0;
}
table tr td {
  padding: 2px;
}
/***** Wrapper *****/
#wrap {
  width: 970px;
  margin: 0 auto;
}
/***** Global Classes *****/
.clear {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  border-bottom: 1px solid;
}
.highlight {
  background: #ffc;
}
.wrap {
  width: 970px;
  margin: 0 auto;
}
.img-left {
  float: left;
  margin: 4px 10px 4px 0;
}
.img-right {
  float: right;
  margin: 4px 0 4px 10px;
}
.nopadding {
  padding: 0;
}
.noindent {
  margin-left: 0;
  padding-left: 0;
}
.nobullet {
  list-style: none;
  list-style-image: none;
}
/****** Upper Section *****/
.upper .container {
  width: 970px;
}
.upper .page-title {
  text-transform: uppercase;
  color: #ea4539;
  font-size: 72px;
  font-style: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-shadow: 0px 2px 1px #b3362c, 0 -2px 1px #b3362c;
  width: 900px;
  margin: 50px 0;
}
.upper .tool-tip {
  background: url(../images/tooltipSpan.png) no-repeat scroll bottom;
  min-height: 16px;
  width: 14px;
  position: relative;
  top: 110px;
  right: 0px;
  z-index: 24;
}
.upper .tool-tip span {
  display: none;
}
.upper .tool-tip:hover span {
  display: block;
  position: absolute;
  top: -50px;
  right: -33px;
  width: 82px;
  height: 35px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0 0;
  background: url(../images/tooltip.png) no-repeat scroll center;
}
/****** Mid Section *****/
.middle {
  margin: 0 0 5em 0;
}
.ui-widget {
  font-size: 13px;
}
.ui-datepicker {
  width: 193px;
}
.middle input[type="text"] {
  color: #d4d4d4;
  font-size: 32px;
  background: #faf8f8;
  border: none;
  border-bottom: solid 1px #c8c6c6;
  -webkit-box-shadow: 0 8px 6px -6px #ffffff;
  -moz-box-shadow: 0 8px 6px -6px #ffffff;
  box-shadow: 0 8px 6px -6px #ffffff;
  box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -moz-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -webkit-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -o-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -ms-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  margin: 0 20px;
  background: url(../images/inputbg.png) no-repeat scroll right center;
}
.middle input#color-picker {
  width: 190px;
  background: none;
  border: none;
  box-shadow: none;
}
.middle .labels {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
  margin: 3px 0 5px 0;
  text-transform: uppercase;
}
.middle .labels span {
  color: #d4d4d4;
}
.middle .--modules fieldset {
  margin: 0px;
}
.middle input:focus {
  outline: none;
}
.sub-container {
  margin: 0 0 30px 0;
}
.middle #width,
.middle #height {
  width: 180px;
}
.middle .switch {
  border: none;
  background: left no-repeat;
  width: 110px;
  height: 35px;
  padding: 0;
  margin: 0 0 0 50px;
  display: inline;
  vertical-align: bottom;
}
.middle label.on,
label.off {
  width: 50px;
  height: 35px;
  display: inline-block;
  cursor: pointer;
}
.middle .switch-labels {
  position: absolute;
  top: 10px;
  left: 100px;
}
.middle .text-labels {
  position: absolute;
  top: 115px;
  left: 50px;
}
.middle .title-labels {
  position: absolute;
  top: 50px;
  left: 50px;
}
.middle .selector {
  position: relative;
}
.middle label.top,
label.btm {
  width: 42px;
  height: 61px;
  cursor: pointer;
  display: inline-block;
}
.middle #label-width {
  margin: 0 0 0 26em;
}
.middle #label-height {
  margin: 0 0 0 14em;
}
.middle #label-groups {
  margin: 0 0 0 10em;
}
.middle #label-date {
  margin: 0 0 0 13.8em;
}
.middle #label-time {
  margin: 0 0 0 6.5em;
}
.middle .bucket {
  width: 225px;
  height: 122px;
  overflow-x: scroll;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0px;
  box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -moz-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -webkit-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -o-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -ms-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
}
/*.middle .bucket ol{
	color: #4a4a4a;
	font-size: 13px;
}*/
.middle fieldset {
  display: inline;
  padding: 0.2em 1.2em 0 0.2em;
  margin: 0 0.5em;
  border: none;
  border-bottom: solid 1px #c8c6c6;
  -webkit-box-shadow: 0 8px 6px -6px #ffffff;
  -moz-box-shadow: 0 8px 6px -6px #ffffff;
  box-shadow: 0 8px 6px -6px #ffffff;
  width: 100%;
}
.middle .slide-inputs fieldset.ticker,
.middle .slide-inputs fieldset.info-panel {
  padding: 0 0 15px 10px;
  box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -moz-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -webkit-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -o-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -ms-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
}
.middle .line {
  width: 100%;
  margin: 5px 0;
  border-bottom: solid 1px #e1dfdf;
  box-shadow: 0px 2px 1px 0 #ffffff;
  -moz-box-shadow: 0px 2px 1px 0 #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0 #ffffff;
  -o-box-shadow: 0px 2px 1px 0 #ffffff;
  -ms-box-shadow: 0px 2px 1px 0 #ffffff;
}
.middle fieldset#color-container {
  box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -moz-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -webkit-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -o-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
  -ms-box-shadow: inset 0 -10px 8px -9px #e3e3e3;
}
.middle #slides {
  margin-left: 0;
}
.middle #slides div:first-of-type {
  margin-left: 0;
}
input[type="text"]:first-child {
  margin: 0;
}
fieldset#installations {
  margin: 0;
}
.middle .bucket input[type="text"] {
  font-size: 13px;
  color: #d4d4d4;
  border: 1px solid #ccc;
  background: #e9e9e9;
  width: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 2px 2px #cccccc;
  -moz-box-shadow: inset 0 2px 2px #cccccc;
  -webkit-box-shadow: inset 0 2px 2px #cccccc;
  -o-box-shadow: inset 0 2px 2px #cccccc;
  -ms-box-shadow: inset 0 2px 2px #cccccc;
  padding: 5px 2px;
  vertical-align: bottom;
  float: right;
}
.middle .bucket input#start-date,
.middle .bucket input#end-date {
  cursor: pointer;
  background: url(../images/date-picker.png) no-repeat right;
}
.middle .bucket input#start-date:disabled,
.middle .bucket input#end-date:disabled {
  background: url(../images/date-picker-disabled.png) no-repeat right;
}
.middle .bucket input#start-time,
.middle .bucket input#end-time {
  cursor: pointer;
  background: url(../images/time-picker.png) no-repeat right;
}
.middle .bucket input#start-time:disabled,
.middle .bucket input#end-time:disabled {
  background: url(../images/time-picker-disabled.png) no-repeat right;
}
fieldset#time ol,
fieldset#date ol {
  padding: 15px 10px;
}
fieldset#time li,
fieldset#date li {
  padding: 0 0 15px 0;
}
.middle .date input {
  width: 40px;
  margin: 0 0 0 5px;
}
.middle #slides {
  padding: 10px 0;
  color: #4a4a4a;
  width: 970px;
}
.middle .slide-wrapper {
  width: 170px;
  height: 110px;
  background: #d4d4d4;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  box-shadow: 0 8px 6px -6px #aaaaaa;
  -moz-box-shadow: 0 8px 6px -6px #aaaaaa;
  -webkit-box-shadow: 0 8px 6px -6px #aaaaaa;
  -o-box-shadow: 0 8px 6px -6px #aaaaaa;
  -ms-box-shadow: 0 8px 6px -6px #aaaaaa;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.middle .slide-wrapper:hover {
  background: #ef4135;
  box-shadow: 0 15px 25px -6px #aaaaaa;
  -moz-box-shadow: 0 15px 25px -6px #aaaaaa;
  -webkit-box-shadow: 0 15px 25px -6px #aaaaaa;
  -o-box-shadow: 0 15px 25px -6px #aaaaaa;
  -ms-box-shadow: 0 15px 25px -6px #aaaaaa;
}
.middle .slide-left,
.middle .slide-right {
  width: 78px;
  height: 110px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 2px;
}
.middle .slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 5px 5px;
  width: 50%;
}
.middle .slide-left {
  display: block;
}
.middle .slide-right {
  background: #fff;
  position: relative;
}
.middle .slide-left-top {
  width: 75px;
  height: 50px;
  background: #fff;
  margin: 0 0 10px 0;
  position: relative;
}
.middle .slide-left-bottom {
  width: 75px;
  height: 50px;
  background: #fff;
  position: relative;
}
.middle #add {
  margin: 0 10px;
}
/***********Mid Expanded Section***************/
.select-styled select {
  width: 125px;
  height: 28px;
  -webkit-appearance: none;
  font-size: 13px;
  color: #686868;
  border: 1px solid #ccc;
  background: #d2d2d2;
  width: 120px;
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 2px 2px #cccccc;
  -moz-box-shadow: inset 0 2px 2px #cccccc;
  -webkit-box-shadow: inset 0 2px 2px #cccccc;
  -o-box-shadow: inset 0 2px 2px #cccccc;
  -ms-box-shadow: inset 0 2px 2px #cccccc;
  padding: 5px 5px;
  background: url(../images/select-arrow.png) no-repeat right;
}
.select-styled select:focus {
  outline: none;
}
.middle .slide-inputs {
  width: 220px;
}
.middle .slide-inputs .slide-modules {
  vertical-align: middle;
  padding: 30px 0 0;
}
.middle .slide-inputs fieldset {
  padding: 0;
  display: inline-block;
}
.middle fieldset #duration,
.middle fieldset #color {
  border-bottom: none;
}
.middle .slide-inputs input {
  padding: 0;
  width: 220px;
}
.middle .slide-inputs input#ticker-pos,
.middle .slide-inputs input#info-panel-pos {
  padding: 0;
  width: 20px;
}
.middle .slide-selections {
  width: 710px;
  background: #D2D2D2;
  position: relative;
}
.middle .grid-row {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  border-bottom: 2px solid #fdfcfc;
}
.middle .col {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-right: 2px solid #fdfcfc;
  pointer-events: none;
}
.middle .row {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid #fdfcfc;
  pointer-events: none;
}
.middle .grid-row-one {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  border-bottom: 2px solid #fdfcfc;
}
.middle .grid-row-two {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid #fdfcfc;
  border-top: 2px solid #fdfcfc;
  pointer-events: none;
}
.tablePosition {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.gridCells {
  border-right: 2px solid #fdfcfc;
  border-bottom: 2px solid #fdfcfc;
  border-top: 2px solid #fdfcfc;
  pointer-events: none;
}
.middle .grid-col-one {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: 2px solid #fdfcfc;
  pointer-events: none;
}
.middle .grid-col-two {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 24.5%;
  z-index: 1;
  border-left: 2px solid #fdfcfc;
  border-right: 2px solid #fdfcfc;
  pointer-events: none;
}
.middle #new-slide {
  margin: 50px 0;
  width: 100%;
  height: 455px;
  -webkit-transition: height 2s ease-in-out;
  -moz-transition: height 2s ease-in-out;
  -o-transition: height 2s ease-in-out;
  -ms-transition: height 2s ease-in-out;
  transition: height 2s ease-in-out;
}
.middle .slide-input-sources,
.middle .slide-display-sources {
  background: #d2d2d2;
  min-width: 49.5%;
  height: 100%;
  z-index: -1;
}
.middle .slide-input-sources select,
.middle .slide-display-sources select {
  display: block;
  margin: 10px 10px 5px 10px;
}
.slide-selection-top,
.slide-selection-btm {
  background: #e9e9e9;
  width: 96%;
  height: 46%;
  margin: 10px;
  border: solid 2px #fff;
  z-index: 0;
}
.display-wrapper {
  background: #e9e9e9;
  width: 95%;
  height: 95%;
  margin: 10px 5px;
  border: solid 2px #fff;
  position: relative;
}
/*.middle .slide-input-source, .middle .slide-selection-btm{
	background: #e9e9e9;
	min-width: 180px;

	padding: 5px;
	border: solid 2px #fff;
}*/
/***********Lower Section***************/
.lower {
  border-top: solid 1px #C8C6C6;
  outline: solid 1px #fff;
  margin: 0 0 10em;
}
.lower .submit {
  border: none;
  outline: none;
  width: 110px;
  height: 28px;
  background: url(../images/submit.png) scroll no-repeat bottom;
  margin-top: 35px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 8px 6px -6px #aaaaaa;
  -moz-box-shadow: 0 8px 6px -6px #aaaaaa;
  -webkit-box-shadow: 0 8px 6px -6px #aaaaaa;
  -o-box-shadow: 0 8px 6px -6px #aaaaaa;
  -ms-box-shadow: 0 8px 6px -6px #aaaaaa;
  text-shadow: -1px -1px 2px #666666;
  -moz-text-shadow: -1px -1px 2px #666666;
  -webkit-text-shadow: -1px -1px 2px #666666;
  -o-text-shadow: -1px -1px 2px #666666;
  -ms-text-shadow: -1px -1px 2px #666666;
}
.lower .submit-container {
  width: 35%;
}
.lower #save-text {
  font-size: 14px;
  margin: 40px 0 0 0;
  text-transform: uppercase;
}
